body {
    background-color: #e8f1f2;
    font-family:sans-serif;
}

.Block1 {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
    background-color: #1f89b7;
    text-align: center;
    color: white;
}

#generate-button {
    width: 180px;
    height: 60px;
    font-size: 20px;
    padding: 15px 25px;
    background-image: radial-gradient(#006494,#13293D);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    color: white;


}

.Block2 {
    width: 40%;
    margin:auto;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
    background-image: linear-gradient(to right,#247ba0,#1b98e0);
    text-align: center;
    color: white;
}

.Block3 {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

#save-button {
    width: 180px;
    height: 60px;
    font-size: 20px;
    padding: 15px 25px;
    background-image: radial-gradient(#006494,#13293D);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
}
